@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: Roboto, helvetica, system-ui, sans-serif;
}

input::before textarea::before {
    content: attr(data-label) + '<br>';
    font-weight: bold;
}
